include ../../mixins/main-btn
include ../../content/index-page/hero

section.intro
  h1.visually-hidden Главный заголовок сайта!

  .swiper.main-slider.main-slider--intro
    .swiper-wrapper
      each slide in heroSliderContent
        .swiper-slide.intro__slide
          picture
            source(srcset=`./assets/img/${slide.img}@1x.webp 1x, ./assets/img/${slide.img}@2x.webp 2x` type="image/webp")
            img(src=`./assets/img/${slide.img}@1x.jpg` srcset=`./assets/img/${slide.img}@2x.jpg 2x` alt= slide.title width="1920" height="740")

          .intro__slide-content
            h2!=slide.title
            +main-btn('link', slide.btnText, slide.url)

    .swiper-pagination.main-slider-pagination
